body {
    background-color:#d4d4d4;
}

p {
    font-size:150%;
    text-align:center;
}

fieldset {
    border: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
}

label {
    display: block;
    margin: 20px 0 0 0;
}

select {
    width: 200px;
}

#shelf {
    //background-color:#d4d4d4;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 30%;
    font-size: 24px;
    text-align: center;
}

#herbStock {
    float:left;
    height:88px;
    margin: 0, 0px;
    width: 33%;
}

.herbStock.custom-state-active {
    background: #eee;
}

.herbStock li {
    float: left;
    width: 50px;
    padding: 0.4em;
    margin-left: auto;
    text-align: center;
}


.herbStock li a {
    float: right;
}

.herbStock li a.ui-icon-zoomin {
    float: left;
}

.herbStock li img {
    width: 100%;
    cursor: move;
}


#formula {
    float: right;
    width: 33%;
    margin-right: auto;
    min-height: 64em;
    padding: 1%;
    background: url("images/fire-1590993_1920.jpg") no-repeat;
}

#formula li:nth-child(even){
    margin-right:0;
}

#formula h4 {
    line-height: 16px;
    margin: 0 0 0.4em;
}

#formula h4 .ui-icon {
    float: left;
}

#formula h5 {
    line-height: 12px;
    margin: 0 0 0.4em;
}

#formulaSet-button {
  margin: 10px;
}

body {
  background: url("images/bank-1939473_1920.jpg") no-repeat;
}
